

html {
	height:100%;
	margin:0;
}
body {
	margin:0 auto;
	color:white;
	background-color:#383838;
	font-family: 'Inconsolata', sans-serif;
	height:100%;
}


li {
	list-style:none;
}

.container{
	position:relative;
}



/*Nav Bar
----------------------------------------------*/

.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5555;
	width:100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;	
}

.nav-bar ul li{
	font-family: 'Inconsolata', sans-serif;
	padding: .5em;
	border-bottom: 1px #383838 solid;
	flex-grow:1;
	text-align:center;
	color:white;
}

.nav-bar a {
	color:white;
	font-size:22px;
}

/*Home
----------------------------------------------*/

header {
	background-image: url("../images/grid.png");
	height:100%;
	width:100%;
	position:fixed;
	display:flex;
	align-items:center;
	
}

.title-card-top {
	display:flex;

}

.title-card {
	padding:0;
	margin:0 auto;
	width:320px;
}

.no-face {
	width:185.5px;
	height:230px;
	padding:0;
	margin:0;

}

.link-box{
	height:230px;
	width:134.5px;
	margin:0 auto;
	display:flex;
	align-items:flex-end;
	
}


.social-links{
	width:100%;
	font-size:30px;
	color:#ffe300;
	padding:0;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.social-links i {
	padding:.06em;
	font-size:35px;

}

.social-links ul{
	margin:0;

}

.social-links ul li {
	display:inline;
	position:bottom;

}

.icon-set-1 {
	padding: .5em .5em 0 .5em;
}

.icon-set-2 {
	padding:0 .5em .5em .5em;
}


header .title-card h1{
	font-family: 'Inconsolata', sans-serif;
	font-weight: normal;
	font-size:16px;
	padding:2em;
	text-align:left;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
	margin:0 auto;
}

.scroll-down{
	padding:1.5em;
}

.scroll-down p {
	text-align:center;
	margin:.1em;
}

.scroll-down img {
	margin:0 auto;
	display:block;
	float:center;
	width:10%;
	-webkit-animation: fontbulger 2s infinite;
}

@-webkit-keyframes fontbulger {
	0%, 49% {
		transform: translateY(0em);
	}
	50%, 100% {
		transform: translateY(.5em);
	}
}


.spacer{
	height:800px;
	height:100%;	
	margin:0 auto;
	overflow: auto;
}

/*Education
----------------------------------------------*/

.education {
	margin:0 auto;
	padding: 1em;
	background-color:#262626;
	-webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);

}

.education ul {
	padding:0;
}

.education h2 {
	font-family: 'Inconsolata', sans-serif;
	text-align:center;
	
}

.education-flex {

	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.aut {
	height:40%;
	margin:0 auto;
	padding:1em;
	font-family: 'Inconsolata', sans-serif;

}

.mds {
	height:40%;
	margin:0 auto;
	padding:1em;
	font-family: 'Inconsolata', sans-serif;
}

/*Showreel
----------------------------------------------*/
.showreel-box {
	height:75vh;
	display:flex;
	margin:0 auto;
	justify-content:center;
	flex-direction:column;
	background-image: url(../images/black_lozenge.png);
}
.showreel-box h3{
	text-align:center;
	display:inline;
	margin:0 auto;
}

.showreel-box h3 i {
	font-size:30px;
	color:#FFE100;
}
.showreel {
	height:200px;
	width:200px;
	margin:0 auto;
	transition: all .3s ease;
	background-image: url(../images/skull2.png);

}

.overlay {
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 9999;
	background: rgba(0,0,0,.5);
}

.accessibly-hidden {
	position:absolute;
	left: -999em;
}

.overlay div {
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 0 auto;
	height:100%;
	width:90%;
	background: #000;
	padding:0;
	transition: all 1s ease;
}

.showreel:hover {
	background-image: url(../images/skull3.png);
	cursor:pointer;
}

/*Skills
----------------------------------------------*/


#software {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 67%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	height:75vh;
}

#software h2 {
	text-align:center;
}

#software p {
	margin:0 auto;
	width:200px;
	text-align:center;
	padding:2em;
}

.skills-table{
	margin:0 auto;
}

.skills-table td {
	padding:.2em .5em;
}

.fa-star{
	color:#FFE100;
}

tr:hover {background-color: rgba(255, 255, 255, .5)}

/*Footer
----------------------------------------------*/

footer 	{
	float:left;
}




.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

