body {
	margin:0 auto;
	color:white;
	background:#323333;
	font-family: 'Roboto', sans-serif;
	text-align:;
}

header {
	background-image: url("images/grid.png");
	/*border-bottom: 1px solid black;*/
	height:600px;
}

header .title-card {
	padding:10em 0 0 0;
}

header .title-card h1{
	font-family: 'Inconsolata', sans-serif;
	font-weight: normal;
	font-size:16px;
	padding:2em;
	text-align: center;
	color: #ffffff;
	background-color:black;
}

.education {
	
	padding: 1em;
}

.experience {
	padding: 1em;
	background-color:#383838;
}

.software {
	padding: 1em;
}

footer 	{
	float:left;
}

li {
	list-style:none;
}

img {
	max-width:100%;
	height:;
}
@media only screen and (min-width: 320px)  {

	.education {
		margin: 0;
		box-sizing:border-box;
		font-family: 'Raleway', sans-serif;
		padding: 1em;

	}

	.experience {
		margin: 0;
		box-sizing:border-box;
		font-family: 'Raleway', sans-serif;
		padding: 1em;

	}

	.software {
		margin: 0;
		box-sizing:border-box;
		font-family: 'Raleway', sans-serif;
		padding: 1em;

	}
}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

